@import url('https://fonts.googleapis.com/css2?family=Pirata+One');

*{
  touch-action: manipulation;
}

body{
  background-image : url("../img/vague.png");
  background-size : 20vmin;
  background-color : #75B5FE;
  margin : 50px;

  font-family: 'Pirata One', sans-serif;

  color : #946439;
}

input{
  width : 400px;
  height : 400px;
  border-radius: 60px;
}

#msgbox{
  width : 720px;
  height : 400px;
  margin-top : 20px;
  border-radius: 60px;
  padding : 40px;
  font-size : 60px;
  background-color : rgba(0, 0, 0, 0.75);
  position : relative;
}
